.img-thumbnail {
  margin: 25px;
  height: 85%;
  width: 85%;
}

.card-body {
  padding: 0px 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: white;
  border-top: none;
}
.ngx-gallery{
  display: inline-block;
  margin-bottom: 20px;
}
input{
  border-radius: 2rem;
}
textarea{
  border-radius: 2rem;
}
h4,strong,h1,label{
  color:rgb(133, 22, 237);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
