<div class="row">
 <div class="col-4">
    <div class="card">
      <img class="card-img-top img-thumbnail" src="{{member.photoUrl || './assets/user.jpg'}}" alt="{{member.instrumentType}}">
    <div class="card-body">
      <div>
        <strong>Musical Instrument Type:</strong>
        <p>{{member.instrumentType}}</p>
      </div>
      <div>
        <strong>Cost:</strong>
        <p>{{member.cost}}</p>
      </div>
      <div>
        <strong>Location:</strong>
        <p>{{member.city}} , {{member.country}}</p>
      </div>
      <div>
        <strong>Last Apdate:</strong>
        <p>{{member.lastApdate | timeago}}</p>
      </div>
      <div>
        <strong>UpLoaded In:</strong>
        <p>{{member.upLoaded | date:'longDate'}}</p>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group d-flex">
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-success" (click)="selectTab(3)">Message</button>
      </div>
    </div>
  </div>
 </div>
 <div class="col-8">
   <tabset #memberTabs class="member-tabset">
    <tab (selectTab)="onTabActivated($event)" heading="About {{member.instrumentType}}">
      <h4>Describtion:</h4>
      <p>{{member.introduction}}</p>
      <h4>Price:</h4>
      <p>{{member.cost}}</p>
    </tab>
    <tab (selectTab)="onTabActivated($event)" heading="Suitable for">
      <h4>suitable For:</h4>
      <p>{{member.suitablFor}}</p>
    </tab>
    <tab (selectTab)="onTabActivated($event)" heading="Photos">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    </tab>
    <tab (selectTab)="onTabActivated($event)" heading="Contact us">
      <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages>
    </tab>
   </tabset>
 </div>
</div>
